[Desktop Entry]
Categories=Development;
Exec=/usr/bin/flatpak run org.mozilla.firefox --class GodotDocs --name GodotDocs --profile ~/.var/app/org.mozilla.firefox/webapp --no-remote https://docs.godotengine.org/en/stable/
GenericName=View Godot documentation
Icon=godot
Name=Godot Docs
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
StartupWMClass=GodotDocs
X-KDE-SubstituteUID=false
X-KDE-Username=
