[Desktop Entry]
Icon=text-html
Name=https://github.com/89luca89/distrobox/blob/main/docs/usage/distrobox-upgrade.md
Type=Link
URL[$e]=https://github.com/89luca89/distrobox/blob/main/docs/usage/distrobox-upgrade.md
