[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=initSVN

[Desktop Action initSVN]
Name=Init SVN Repo
Icon=svn-update
Exec=svnadmin create %u; svn mkdir -m "Create directory structure." file://%u/trunk file://%u/branches file://%u/tags
