[Desktop Entry]
Icon=text-html
Name=https://forum.endeavouros.com/t/missing-aur-debug-packages-debug/50931/2
Type=Link
URL[$e]=https://forum.endeavouros.com/t/missing-aur-debug-packages-debug/50931/2
