[Desktop Entry]
Categories=Game;
Comment[en_US]=ALVR is an open source remote VR display which allows playing SteamVR games on a standalone headset such as Gear VR or Oculus Go/Quest.
Comment=ALVR is an open source remote VR display which allows playing SteamVR games on a standalone headset such as Gear VR or Oculus Go/Quest.
Exec=distrobox-enter -n distroArch -a '--env XDG_CURRENT_DESKTOP=X-Generic --env LANG=en_US.UTF-8 --env LC_ALL=en_US.UTF-8' -- alvr_dashboard
GenericName[en_US]=
GenericName=
Icon=steamvr
MimeType=
Name[en_US]=ALVR
Name=ALVR
NoDisplay=false
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
StartupWMClass=ALVR
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-RunOnDiscreteGpu=true
X-KDE-SubstituteUID=false
X-KDE-Username=
