[Desktop Entry]
Comment[en_US]=
Comment=
Exec=distrobox-enter -n arch -- /home/marco/.local/share/containers/boxes/arch/.local/share/ALVR-Launcher/ALVR_Launcher
GenericName[en_US]=Launch ALVR Dashboard
GenericName=Launch ALVR Dashboard
Icon=steamvr
MimeType=
Name[en_US]=ALVR
Name=ALVR
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
