[Desktop Entry]
Categories=Qt;Development;Documentation;
Comment=Shows Qt documentation and examples
Exec=assistant
Icon=assistant
Name=Qt Assistant
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
