[Desktop Entry]
Categories=GNOME;Network;
Comment=Browse for Zeroconf-enabled VNC Servers
Exec=/usr/bin/bvnc
Icon=network-wired
Name=Avahi VNC Server Browser
NoDisplay=true
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
