[Desktop Entry]
Categories=Development;IDE;
Comment[en_US]=Multi-platform 2D and 3D game engine with a feature-rich editor
Comment=Multi-platform 2D and 3D game engine with a feature-rich editor
Exec=distrobox-enter -n distroArch -- /home/marco/.distroArch/Godot_v4.3/Godot_v4.3-dev5_mono_linux.x86_64
GenericName[en_US]=Libre game engine (on distroArch)
GenericName=On DistroBox
Icon=godot
MimeType=application/x-godot-project;
Name[en_US]=Godot Engine 4.3
Name=Godot Engine 4.3
NoDisplay=false
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
StartupWMClass=Godot
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=true
X-KDE-SubstituteUID=false
X-KDE-Username=
