[Desktop Entry]
Categories=Qt;Development;
Comment=Add translations to Qt applications
Exec=linguist %F
Icon=linguist
MimeType=text/vnd.trolltech.linguist;application/x-linguist;
Name=Qt Linguist
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
