[Desktop Entry]
Categories=System;
Comment=Show hardware topology
Exec=lstopo
Icon=hwloc
Keywords=System;Utility;
Name=Hardware Locality lstopo
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
