[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment[en_US]=KDE Text Editor
Comment=KDE Text Editor
Exec=kwrite %U
GenericName[en_US]=Text Editor
GenericName=Text Editor
Icon=kwrite
InitialPreference=8
Keywords=text;txt;editor;note;notepad;
MimeType=text/plain;
Name[en_US]=KWrite
Name=KWrite
NoDisplay=true
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=kwrite
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kwrite/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
