[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=
Exec=plasma-emojier
Icon=preferences-desktop-emoticons
Keywords=characters;unicode;punctuation;letters;emoji;emoticon;symbols;smiley face;
Name=Emoji Selector
NoDisplay=true
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=Unique
X-KDE-Shortcuts=Meta+.,Meta+Ctrl+Alt+Shift+Space
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
