[Desktop Entry]
Categories=AudioVideo;
Comment=Show connected webcam output.
Exec=qv4l2
Icon=webcamoid
Keywords=video;grabber;V4L;
Name=Webcam
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
