[Desktop Entry]
Categories=System;Settings;HardwareSettings;Printing;GTK;
Comment=Configure printers
Exec=system-config-printer
GenericName=Print Settings
Icon=printer
Name=Print Settings
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.27
X-GNOME-FullName=Print Settings
X-KDE-SubstituteUID=false
X-KDE-Username=
