[Desktop Entry]
Categories=Development;
Comment=The world's most open and advanced real-time 3D creation tool
Exec=distrobox-enter -n arch -a '--env __NV_PRIME_RENDER_OFFLOAD=1 --env __VK_LAYER_NV_optimus=NVIDIA_only --env __GLX_VENDOR_LIBRARY_NAME=nvidia' -- /home/marco/.local/share/containers/boxes/arch/.local/share/Unreal/Engines/Linux_Unreal_Engine_5.4.3/Engine/Binaries/Linux/UnrealEditor -windowed %F
GenericName=
Hidden=false
Icon=ubinary
MimeType=application/x-uproject
Name=Unreal Engine 5.4.3
NoDisplay=true
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
StartupWMClass=UnrealEditor
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
